PGHOST=localhost
PGPORT=5432
PGUSER=your_postgres_user
PGPASSWORD=your_postgres_password
PGDATABASE=your_development_database
PGCONNECTIONTIMEOUT=5000

JWT_SECRET=your_development_secret
JWT_EXPIRES_IN=15m